<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="fa" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fa" dir="rtl"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		{% if page.url == "/" %}
		{{ page.title }}
		{% else %}
		{{ page.title }} - {{ site.name }}
		{% endif %}
	</title>
	<meta name="author" content="My-BB.Ir Group" />
	{% if page.meta_description %}
	<meta name="description" content="{{ page.meta_description }}" />
	{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.min.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.min.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/anythingslider.min.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/fancyBox/jquery.fancybox.min.css" />
</head>
<body>
	<div id="container">
		<header id="pageHeader">
			<div class="wrapper">
				<nav id="logoLink">
					<a href="{{ site.baseurl }}/">بازگشت به صفحه‌ی اصلی</a>
				</nav>
				<h1 id="pageName" class="visuallyHidden">مای‌بی‌بی - انجمن‌ساز رایگان و متن‌باز</h1>

				<div id="siteSearch">
					<form method="get" action="http://www.google.com/search">
						<span class="searchContainer">
							<input type="hidden" name="as_sitesearch" id="as_sitesearch" value="my-bb.ir">
							<label for="qWidget">
								<input name="q" id="qWidget" type="search" class="searchField inputText" placeholder="جستجو" />
							</label>
							<input id="submit" type="submit" value="Find" class="searchSubmit inputSubmit" />
						</span>
					</form>
				</div>

				<nav id="mainMenu">
					<ul>
						<li{% if page.section == "home" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/">خانه</a></li>
						<li{% if page.section == "features" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/features/">ویژگی‌ها</a></li>
						<li{% if page.section == "download" %} class="selected"{% endif %}><a href="{{ site.download_url }}">دریافت</a></li>
<!-- 						<li><a href="http://community.mybb.com" title="Community">انجمن</a></li> -->
						<li{% if page.section == "get-involved" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/get-involved/" title="Get Involved">مشارکت</a></li>
						<li><a href="http://community.mybb.com/mods.php" title="Extend">توسعه</a></li>
						<li><a href="http://docs.my-bb.ir" title="Docs">مستندات</a></li>
						<li><a href="http://blog.my-bb.ir" title="Blog">بلاگ</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="main" role="main">
